<p>
  <%= render_upvote_link_by_voteable(comment) %>

  <%= link_to "unvote ", upvote_comment_path(comment), method: :patch if user_signed_in? && current_user.upvoted?(comment) %>
  <%= comment.body %>
</p>
<p><%= link_to 'reply', new_comment_path(comment.id) if comment.id.present? %></p>
